@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply bg-white font-poppins w-screen flex flex-col justify-start items-center px-6 pt-3
  }

  p {
    /* 400-regular, 500-medium, 600-semibold */
    /* main text + badge name*/
    @apply font-semibold text-[24px]
  }

  h1 {
    /* defined word */
    @apply font-semibold text-[20px] text-blue
  }

  h2 {
    /* defintion + answer desc*/
    @apply font-medium text-[16px] text-black
  }

  h3 {
    /* answer header */
    @apply font-semibold text-black text-[18px]
  }

  h4 {
    /* status bar fraction */
    @apply font-semibold text-black text-[12px]
  }

  input {
    @apply text-black text-[14px] border-2 border-outline-gray w-full px-1.5 py-2 rounded-md mb-2
  }

  input:placeholder-shown {
    @apply italic text-txt-gray
  }
  
  textarea {
    @apply text-black text-[14px] border-2 border-outline-gray w-full h-20 p-3 rounded-md
  }

  textarea:placeholder-shown {
    @apply italic text-txt-gray
  }
}

@layer components {
  .btn-nav {
    @apply flex justify-center items-center m-1 w-9 h-9 rounded-full bg-light-blue 
  }

  .btn-transparent {
    @apply text-blue text-[16px] font-semibold py-1.5 w-fit
  }

  .btn-blue {
    @apply text-white text-[16px] font-semibold bg-blue py-3 rounded-full w-full
  }

  .btn-gray {
    @apply text-black text-[16px] font-semibold border-2 border-outline-gray py-1.5 rounded-full w-full
  }

  .badge-desc {
    @apply text-txt-gray
  }

  .btn-define {
    @apply text-blue underline cursor-pointer
  }
}

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */

/* body {
  background-color: rgb(var(--foreground-rgb));
  color: rgba(49, 49, 49, 1);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
} */
