@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply bg-white font-poppins w-screen flex flex-col justify-start items-center px-6 
  }

  p {
    /* 400-regular, 500-medium, 600-semibold */
    /* main text + badge name*/
    @apply font-semibold text-[24px] text-black
  }

  h1 {
    /* defined word */
    @apply font-semibold text-[20px] text-blue
  }

  h2 {
    /* defintion + answer desc*/
    @apply font-medium text-[16px] text-black
  }

  h3 {
    /* answer header */
    @apply font-semibold text-black text-[18px]
  }

  h4 {
    /* status bar fraction */
    @apply font-semibold text-black text-[12px]
  }

  h5 {
    @apply font-semibold text-black text-[32px]
  }

  h6 {
    @apply text-black text-[26px] font-semibold
  }

  /* input {
    @apply text-black text-[14px] border-2 border-outline-gray w-full px-1.5 py-2 rounded-md mb-2
  } */

  /* input:placeholder-shown {
    @apply italic text-txt-gray
  } */
  
  textarea {
    @apply text-black text-[13px] border-2 border-outline-gray w-full h-20 p-3 rounded-md
  }

  textarea:placeholder-shown {
    @apply italic text-txt-gray
  }

  label {
    @apply text-black text-[18px] font-semibold
  }

  button:active {
    @apply opacity-70
  }
}

@layer components {
  .btn-nav {
    @apply flex justify-center items-center m-1 w-9 h-9 rounded-full bg-light-blue 
  }
  
  .btn-parent-nav {
    @apply flex flex-col justify-center items-center text-blue text-[12px]
  }

  .btn-parent-nav:disabled {
    @apply text-txt-gray
  }

  .btn-transparent {
    @apply text-blue text-[16px] font-semibold py-1.5 w-fit
  }

  .btn-blue {
    @apply text-white text-[16px] font-semibold bg-blue py-3 rounded-full w-full flex justify-center items-center
  }

  .btn-blue:disabled {
    @apply opacity-60
  }

  .btn-gray {
    @apply text-black text-[16px] font-semibold border-2 border-outline-gray py-1.5 rounded-full w-full
  }

  .post-info {
    @apply font-medium text-[10px] text-txt-gray
  }

  .post-text {
    @apply font-medium text-[12px] text-black
  }

  /* .btn-gray:hover {
    @apply text-blue border-blue
  } */

  /* .btn-gray:focus {
    @apply text-blue border-blue
  } */

  .badge-desc {
    @apply text-txt-gray
  }

  .btn-define {
    @apply text-blue underline cursor-pointer
  }

  .btn-filter {
    @apply flex justify-center items-center font-medium text-[14px] px-5 py-1.5 rounded-full min-w-fit
  }

  .btn-post-pick {
    @apply font-medium text-[14px] text-white bg-blue rounded-full min-w-fit px-5 py-1.5
  }

  .btn-not-pick {
    @apply font-medium text-[14px] text-blue bg-transparent rounded-full min-w-fit border-2 border-blue px-5 py-1.5
  }
}

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */

/* body {
  background-color: rgb(var(--foreground-rgb));
  color: rgba(49, 49, 49, 1);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
} */
